.modal-body .pull-left {
    padding-right: 1em;
}

.modal-body .pull-right {
    padding-left: 1em;
}

.modal-footer {
    clear: both;
}

.modal-dialog {
    background-color: white;
}

.modal-header {
    text-align: center;
}
.img{
  width: 100px;
}

.item {
  flex-grow: 1;
}

#lookman {
    /* background-color: red; */
}
